# Build products
DerivedData/
DerivedData2/
*.ipa
*.xcarchive
build/

# CocoaPods
Pods/
Podfile.lock

# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
project.xcworkspace/xcuserdata/

# macOS
.DS_Store

# Logs
*.log
